body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #151D3B;
}

.main_ {
    display: flex;
    justify-content: center;
}

.flex_ {
    display: flex;
    font-size: 40px;
    flex: 0 1 1500px;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row {
    display: flex;
    margin: 3px;
    flex: 1 1 400px;
}

.cell_all {
    white-space: pre;
}
.cell_id {
    margin-right: 10px;
}
.cell_name {
    flex: 0 0 250px;
}
.cell {
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 1px;

}

