body {
    background-color: #151D3B;
    max-width: 90%;
}
.main_ table {
    margin-left: 20px;
    border-spacing: 8px;
}
.main_ td {
    background-color: #0c1b50;
    font-size: 250%;
    margin-top: 10px;
    color: #D82148;
}
.main_ {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px auto auto 50px;
}
