<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <style>
        body {
            background-color: #151D3B;
        }
        #n1 {
            color: #D82148;
            font-size: 50px;
            font-family: "Arial Black", Gadget, sans-serif;
        }
    </style>
 
    <script>
        const url = 'http://localhost:9090/';
        
        async function getJson() {
            await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                const item = data[0];
                var amount = item.amount.toString().split(".")[0];
                document.getElementById("n1_amount").innerHTML = amount;
                document.getElementById("n1_name").innerHTML = item.name + ":";
                document.getElementById("n1_speed").innerHTML = "(" + item.speed + ")";
            });
        }
        onload = getJson;
        setInterval(getJson, 1000);

        async function speed_increase() {
            await fetch(url + 'config', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({
                    id: 1
                })
            });
            return response.json();
        }
    </script>
</head>
<body>
        <p id="n1">
            <span id="n1_name">name</span>
            <span id="n1_amount">0</span>
            <span id="n1_speed">1.0</span>
            <button id="n1_increase" onclick="speed_increase()">Increase</button>
        </p>
    </div>
</body>
</html>